output/
obj/
bin/
packages/
*.suo
dotnet/lib/SIL*
dotnet/lib/L10NSharp.dll
dotnet/lib/Ionic.Zip.dll
dotnet/lib/*.pdb
_Resharper*
.nuget/NuGet.exe
/.vs/
output/
node_modules/
artifacts/

browser/test-results/
todo.md
plan.md