<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 
    Package sources configuration:
    - local-packages: For testing unpublished packages (e.g., sillsdev.dotImpose)
    - nuget.org: For published packages (will be used once sillsdev.dotImpose is published)
    
    Once the package is published to nuget.org, the local-packages source can be removed
    or NuGet will automatically prefer the published version if it's newer.
  -->
  <packageSources>
    <clear />
    <add key="local-packages" value="./local-packages" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
